.content {
  padding-top: 278px;
  position: relative;

  &::before {
    content: "";
    height: 181px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
  }

  .link {
    font-family: "Gilroy-Bold";
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-primary);
    text-decoration: none;
    display: flex;
    align-items: center;

    svg {
      margin-left: 16px;
    }
  }

  .row {
    justify-content: space-between;
  }

  .col-6 {
    max-width: 632px;

    img {
      max-width: 566px;
    }
  }
}
