.header {
  padding-top: 56px;

  .shadow {
    width: 100%;
    position: absolute;
    top: 0;
		z-index: -1;
  }

	.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
  }

  .nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &__item {
      margin-right: 40px;
      font-family: "Gilroy-Bold";
      color: #ffffff;
      font-size: 18px;
			text-decoration: none;
    }
  }
}
